@import "tailwindcss";
#pkmnName {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  background: linear-gradient(to right, #7F7f7f, #111111); /* light blue to dark blue */
  min-height: 100vh; /* ensure it covers full height */
  margin: 0;
}